body {
	font-family: 'helvetica', sans-serif;
}
#board {
	width: 320px;
	height: 320px;
	position: relative;
	float: left;
}

#score {
	background-color: gray;
	height: 82px;
	width: 100px;
	float: left;
	padding: 10px;
	color: white;
}
.square {
	width: 100px;
	height: 100px;
	background-color: #ccc;
	position: relative;
	border: 1px solid black;
	display: inline-block;
	padding: 0;
	margin: 0 0 4px 0;
}

#num0, #num1, #num2, #num3, #num4, #num5, #num6, #num7, #num8  {
	text-align: center;
	vertical-align: middle;
	position: relative;
	font-size: 90px;
}

.x {
	color: green;
}